[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==7.3.*"
jupyterlab = "==0.35.*"
numpy = "*"
matplotlib = "*"
cairocffi = "*"
tensorflow = "*"
keras = "*"
yapf = "*"
pylint = "==2.3.0"
torch = "*"
torchvision = "*"
pytest = "*"
scikit-learn = "*"

[packages]
keras-ocr = {editable = true,path = "."}

[requires]
python_version = "3.7"
