[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
keras = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
yapf = "*"
scikit-learn = "*"
sphinx = "==1.8.3"
m2r = "==0.2.1"
tensorflow = "==2.3.1"
h5py = "<=2.10.0"
Pillow = "==8.1.1"  # We need to do this because of https://github.com/pytorch/vision/issues/1714
sphinx_rtd_theme = "==0.4.2"

[packages]
keras-ocr = {editable = true,path = "."}

[requires]
python_version = "3.7"
